<!doctype html>
<html>
<head>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="Javascript Unit Testing Tutorial">
</head>
<body>
    <h1>{{ htmlWebpackPlugin.options.title }}</h1>
    <span class="loading fa fa-spinner fa-spin"></span>
</body>
</html>